// Colors
$black:#23374d;
$gray:#dadada;
$white:#fff7f7;

$primary:#204969;
$secondary:#08ffc8;

// Fonts
$default-font: 'Gayathri', Helvetica, Arial, sans-serif;

$size-desktop:1440px;
$size-desktop-min:1024px;
$size-mobile-max:768px;
$size-mobile-min:420px;
